<nav class="navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
  	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/fria/19/fr/index.html">CS Bridge</a>

	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <!--<li ><a href="#">Link</a></li>-->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Référence <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<!--<li><a href="{{pathToRoot}}fr/handouts/sections.html">Sections</a></li>-->
				<li><a href="{{pathToRoot}}fr/handouts/karel_reference.key.pdf">Référence Karel </a></li>
				<!--<li><a href="{{pathToRoot}}fr/handouts/submission.html">How to Submit Your Work</a></li>-->		
				<li><a href="{{pathToRoot}}fr/handouts/console.html">Référence Console</a></li>
				<li><a href="{{pathToRoot}}fr/handouts/random.html">Référence Générateur Aléatoire</a></li>
				  
				  <!--
	          	<li><a href="{{pathToRoot}}fr/handouts/graphics.html">Graphique Référence</a></li>
	          	<li><a href="{{pathToRoot}}fr/handouts/events.html">Événements (Events) Référence</a></li>
							<li><a href="{{pathToRoot}}fr/handouts/arrayLists.html">Array Lists</a></li>
							-->

	          	<!--
	          	<li><a href="{{pathToRoot}}handouts/events.html">Events Reference</a></li>
                <li><a href="{{pathToRoot}}projects/jsJSSyntax.html">JavaScript Syntax Reference</a></li>
                <li><a href="{{pathToRoot}}handouts/htmlReference.html">HTML Reference</a></li>
                <li><a href="{{pathToRoot}}handouts/uploadWebsite.html">Uploading a Website Reference</a></li>

	          	<li><a href="{{pathToRoot}}handouts/whatsNext.html">Whats Next</a></li>


	            <li><a href="{{pathToRoot}}handouts/operations.html">Operations</a></li>
	            <li><a href="{{pathToRoot}}handouts/graphics.html">Graphics</a></li>
	            <li><a href="{{pathToRoot}}handouts/passingData.html">Passing Data</a></li>-->

	          </ul>
	        </li>


          <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projets <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{pathToRoot}}fr/projects/collectNewspaper.html">Ramasser le journal</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/mosquee.html">Construire La Grande Mosquée de Conakry</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/mountain.html">Karel des Montagnes</a></li>
				<li><a href="{{pathToRoot}}fr/projects/randomPainter.html">Peintre aléatoire</a></li>
				<li><a href="{{pathToRoot}}fr/projects/flag.html">Le Drapeau Guinéen</a></li>
	          	

							
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}fr/projects/sandcastles.html">Châteaux de sable</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/favoriteNumber.html">Numéro préféré</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/medicine.html">Médicament Counterfeit</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/someSum.html">Une somme</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/AllerAuMarché.html">Aller Au Marché</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/sorcerer.html">La Sorcière</a></li>

				<!--

	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}fr/projects/voiture.html">La Voiture en Pane</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/awesome.html">La programmation est géniale</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/stringArt.html">Moustiquaires</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/randomCircles.html">Cercles aléatoires</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/hailstone.html">Grêle</a></li>

	            <li class="divider"></li>
	            <li><a href="{{pathToRoot}}fr/projects/bouncingBall.html">Balle rebondissante</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/madMethods.html">Méthodes folles</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/target.html">Cible</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/illusion.html">Illusion d'optique</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/sunset.html">Cour de film</a></li>

	          	<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}fr/projects/makingTracks.html">Faire des pistes</a></li>
	            <li><a href="{{pathToRoot}}fr/projects/stampTool.html">Outil de Cachet</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/catchMeIfYouCan.html">Attraper la Chevre dans le Jardin</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/breakout.html">Éclater</a></li>

							-->









							<!--
	          	<li class="divider"></li>

	          	<li><a href="{{pathToRoot}}fr/projects/sortedNumbers.html">Numéros triés</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/snow.html">Neige</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/mouseGame.html">La ligne</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/music.html">La musique</a></li>
							-->
	          	<!--
	            <li><a href="../../projects/drawPeople.html">Trois est une foule</a></li>

	            <li><a href="../../projects/madLibs.html">Mad Libs</a></li>
	            <li><a href="../../projects/secret.html">Secrète</a></li>



                <li class="divider"></li>

	            <li><a href="../../projects/breakout.html">Éclater</a></li>


	            <li><a href="../../projects/music.html">Vagues de son</a></li>


	            <li><a href="../../projects/project.html">Projet final</a></li>-->




	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exemples<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}fr/projects/stepUp.html">Monter un escalier</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/place100.html">Placer 100 beepers</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/beeperLine.html">Ligne de beepers</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/invert.html">Inverser les cellules</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/unKarel.html">Construire les Maisons</a></li>
							
							

				<li class="divider"></li>

				<li><a href="{{pathToRoot}}fr/projects/emc2.html">E=MC2</a></li>
				<li><a href="{{pathToRoot}}fr/projects/fibb.html">Fibonacci</a></li>
				<li><a href="{{pathToRoot}}fr/projects/favoriteNumber.html">Numéro préféré</a></li>
				<li><a href="{{pathToRoot}}fr/projects/findPi.html">Trouver Pi</a></li>
				<li><a href="{{pathToRoot}}fr/projects/sorcerer.html">Sorcière</a></li>
			  
			   <!--
	           <li class="divider"></li>


	            <li><a href="{{pathToRoot}}fr/projects/robotFace.html">Visage de Robot</a></li>


	          	<li class="divider"></li>
	            <li><a href="{{pathToRoot}}fr/projects/mysterySquare.html">Place du mystère</a></li>

	            <li><a href="{{pathToRoot}}fr/projects/goCenter.html">Aller au centre</a></li>

	            <li><a href="{{pathToRoot}}fr/projects/gravityBall.html">Boule de gravité</a></li>

	          	<li><a href="{{pathToRoot}}fr/projects/averageMethod.html">Méthode moyenne</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/drawPeople.html">Dessiner des gens</a></li>

	          	<li><a href="{{pathToRoot}}fr/projects/halfGreen.html">Moitié vert</a></li>

	          	<li class="divider"></li>
	            <li><a href="{{pathToRoot}}fr/projects/holes.html">Trou</a></li>
								-->











							<!--
	          	<li class="divider"></li>
							<li><a href="{{pathToRoot}}fr/projects/rocketShip.html">Fusées</a></li>

	          	<li><a href="{{pathToRoot}}fr/projects/debrisSweeper.html">Balayeuse de débris</a></li>
	          	<li><a href="{{pathToRoot}}fr/projects/suchADrag.html">Une telle traînée</a></li>


	             <li><a href="{{pathToRoot}}projects/stampTool.html">Outil de tampon</a></li>
	            <li><a href="{{pathToRoot}}projects/snow.html">Neige</a></li>

              <li class="divider"></li>
	            <li><a href="{{pathToRoot}}projects/breakoutOnline.html">Breakout en ligne</a></li>
							-->
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Presentations <b class="caret"></b></a>
	          <ul class="dropdown-menu">

								
	          	<li><a href="{{pathToRoot}}slides/fria_2019/welcome.pdf">Karel</a></li>
				<li><a href="{{pathToRoot}}slides/fria_2019/control_flows.pdf">Flux de contrôle</a></li>

	          	<li><a href="{{pathToRoot}}slides/LisaFrenchSlides/Variables.pdf">Variables 1</a></li>
				<li><a href="{{pathToRoot}}slides/LisaFrenchSlides/Variables_two.pdf">Variables 2</a></li>
				
				<!--
	          	<li><a href="{{pathToRoot}}slides/LisaFrenchSlides/Graphique.pdf">Graphique</a></li>
	          	<li><a href="{{pathToRoot}}slides/Animation.pdf">Animation</a></li>
	          	<li><a href="{{pathToRoot}}slides/Methods.pdf">Les méthodes</a></li>
	          	<li><a href="{{pathToRoot}}slides/Review.pdf">La revue</a></li>
	          	<li><a href="{{pathToRoot}}slides/Events.pdf">Événements</a></li>
	          	<li><a href="{{pathToRoot}}slides/Internet.pdf">l'Internet</a></li>
	          	<li><a href="{{pathToRoot}}slides/Arrays.pdf">Tableaux</a></li>
	          	<li><a href="{{pathToRoot}}slides/ArrayLists.pdf">Listes de tableaux</a></li>
	          	<li><a href="{{pathToRoot}}slides/Strings.pdf">Les cordes</a></li>
							-->
							
							<!--
	          	<li><a href="{{pathToRoot}}slides/AI.pdf">Intelligence Artificielle</a></li>
	          	<li><a href="{{pathToRoot}}slides/loopVariableReview.pdf">Revue Boucle/Variable</a></li>
	          	<li><a href="{{pathToRoot}}slides/Interactors.pdf">Interacteurs</a></li>
	          	<li><a href="{{pathToRoot}}slides/AI.pdf">IA</a></li>
	          	<li><a href="{{pathToRoot}}slides/Classes.zip">Des classes</a></li>
	          	<li><a href="{{pathToRoot}}slides/TheEnd.pdf">La fin</a></li>

							-->
	          </ul>
	        </li>

	        <!-- <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Défis Supplémentaires <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}fr/projects/isOdd.html">Est Impair</a></li>

	          </ul>
	        </li>-->


	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">l'Internet <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="https://www.dropbox.com/s/1jtjo9hde8in0xn/1-How%20the%20internet%20works.pptx">Comment Internet fonctionne</a></li>
	          	<li><a href="https://www.dropbox.com/s/1t7pwltugsy4pxg/2-day-in-the-life-of-packet.pptx">Jour dans la vie d'un paquet</a></li>
	          	<li><a href="https://www.dropbox.com/s/1n0lzrl32urfsnr/3-How%20packets%20routed.pptx">Comment les paquets sont acheminés sur Internet</a></li>
	          	<li class="divider"></li>
	          	<li><a href="http://yuba.stanford.edu/~huangty/dacka/lab1.html">Lab 1</a></li>
	          	<li><a href="http://yuba.stanford.edu/~huangty/dacka/lab2.html">Lab 2</a></li>
	          	<li class="divider"></li>
	          	<li><a href="{{pathToRoot}}internet/echo.zip">Code client d'écho</a></li>
	          	<li><a href="{{pathToRoot}}internet/2person-breakout.zip">Code de groupe de 2 personnes</a></li>


	          </ul>
	        </li>-->

	        <!--<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Section<b class="caret"></b></a>
	          <ul class="dropdown-menu">
	          	<li><a href="{{pathToRoot}}projects/stepUp.html">Journal Karel</a></li>
	          	<li><a href="{{pathToRoot}}projects/place100.html">Drogues contrefaites</a></li>
	          	<li><a href="{{pathToRoot}}projects/beeperLine.html">Cible</a></li>
	          </ul>
	        </li>-->

	        <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prime <b class="caret"></b></a>
	          <ul class="dropdown-menu">
                <li><a href="{{pathToRoot}}fr/bonus-index.html">Aperçu des bonus</a></li>
	          </ul>
	        </li> -->

	        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formes<b class="caret"></b></a>
	          <ul class="dropdown-menu">
                <li><a href="{{pathToRoot}}fr/handouts/submission.html">Soumettez votre travail</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSffsKTNU3mu-21-ZjZFJ3d-fPdvw6uQcvhAjbpXhux43_3gpg/viewform?usp=sf_link">Se connecter au laboratoire</a></li>
	          </ul>
	        </li>



	      </ul>


	      <ul class="nav navbar-nav navbar-right">
					<!--
	      	<li><a onclick="changeToFrench()" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/guinean_flag.png"></img></a></li>
	      	<li><a onclick="changeToEnglish()" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/english_flag.png"></img></a></li>
					-->

					<li><a onclick="" style="cursor: pointer;"><img class="languageIcon" src="{{pathToRoot}}img/guinean_flag.png"></img></a></li>
					

	      </ul>
	    </div><!-- /.navbar-collapse -->
	</div>
  </div><!-- /.container-fluid -->
</nav>

<script>

	// function changeToTurkish() {
	// 	var url = window.location.href;
	// 	url = url.replace("/fr/", "/tr/");
	// 	window.location.href = url;
	// }

	function changeToFrench() {
		var url = window.location.href;
		url = url.replace("/en/", "/fr/");
		window.location.href = url;
	}

	function changeToEnglish() {
		var url = window.location.href;
		url = url.replace("/fr/", "/en/");
		window.location.href = url;
	}

</script>
