<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Méthode moyenne
			</h1>
			<p>
				Écrit par Chris Piech and Mehran Sahami
			</p>


		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Cette démo montre une méthode simple qui prend deux entrées et renvoie la moyenne:
					<div class="well"><code>private double average(double a, double b)</code></div>
				</p>



			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:200px">public class AverageMethod extends ConsoleProgram {

	public void run() {
		println(average(4, 5));
		println(average(10, 2));
		println(average(-4.1, 9.8));
	}

	private double average(double a, double b) {
		return (a + b) / 2;
	}
}</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
