<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
			Graphiques créatifs
			</h1>
			<p>
            Écrit par Lisa Yan
			</p>
			<p>
				Référence:
				<a href ="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a>
				<br/>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
                Ceci est un programme de bonus!
                </p>
                <p>
                Ecrivez un programme graphique qui fait tout ce que vous voulez !!! Voici un exemple de quelque chose que vous pouvez faire.
				</p>
				<p>
					<center>
						<img style="width:400px;border:2px solid grey" src="{{pathToRoot}}img/projects/creativeGraphics/example.gif">
					</center>
				</p>
            <p>Voici un Karel pour vous aider.</p>
			<center>
						<img style="width:80px" src="{{pathToRoot}}img/projects/creativeGraphics/karel.png">
            </center>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
