<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
			Art créatif de la chaîne
			</h1>
			<p>
            Écrit par Lisa Yan
			</p>
			<p>
				Référence:
				<a href ="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a>
				<br/>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Ceci est un programme de bonus!
                </p>
                <p>
                Ecrivez un programme graphique qui étend le dessin de chaîne que vous avez écrit <a href="{{pathToRoot}}fr/projects/stringArt.html">Art de la chaîne</a>. Cette fois, ajoutez quatre courbes à la toile.
				</p>
				<p>
					<center>
						<img style="width:400px;border:2px solid grey" src="{{pathToRoot}}img/projects/creativeStringArt/corners.png">
					</center>
				</p>
            <h2>Extension</h2>
            <p>Faites votre propre art de cordes cool !!!</p>
					<center>
						<img style="width:400px;border:2px solid grey" src="{{pathToRoot}}img/projects/creativeStringArt/customFancy.png">
					</center>
		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
