<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Le Drapeau Guinéen
			</h1>
			<p>
				Écrit par Lisa E. 
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					
				Quelqu'un a volé le drapeau hier et Karel doit en fabriquer un rapidement! Avant que les étudiants arrivent à l'école!

					<p>
					<left>
						<img style="width:30%"  src="{{pathToRoot}}img/projects/Flag/flagPole.png">	
					</left>
					<right>
						<img style="width:65%"  src="{{pathToRoot}}img/projects/Flag/flagPoleRaised.png">	
					</right>
				</p>
				
				<h2>Peinture</h2>
				<p>
					Karel a quelques commandes dans sa manche. Elle peut peindre le coin sur lequel elle se tient en suivant les instructions
<div class="well"><code>paintCorner(color);</code></div>
La valeur entre parenthèses, appelée un argument dans la terminologie
des langages de programmation, peut être l’un des suivants:
                 <span style="color:red;">RED</span>&nbsp;&nbsp;
                 <span style="color:orange;">ORANGE</span>&nbsp;&nbsp;
                 <span style="color:green;">GREEN</span>&nbsp;&nbsp;
                 <span style="color:cyan;">CYAN</span>&nbsp;&nbsp;
                 <span style="color:blue;">BLUE</span>&nbsp;&nbsp;
                 <span style="color:magenta;">MAGENTA</span>
                 et plus...
				</p>
				
				<h2>Drapeau</h2>
				<p>
					Utilisez la capacité de Karel à peindre pour fabriquer le drapeau guinéen. Vous avez la garantie que le tissu mesure 12 unités de large, mais vous ne savez pas quelle sera sa hauteur (indice: utilisez for loops and while loops!)
				</p>
				<p>
					<left>
						<img style="width:40%"  src="{{pathToRoot}}img/projects/Flag/karelGuineanFlagBefore.png">
					</left>
					<right>
						<img style="width:40%"  src="{{pathToRoot}}img/projects/Flag/karelGuineanFlagAfter.png">
					</right>
					</p>
				</p>
				<p>
					Comme toujours, n'oubliez pas de décomposer votre solution! Votre programme devrait fonctionner sur un monde de toute taille.
				</p>
			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
