<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Boule de gravité
			</h1>
			<p>
				Problème écrit par Chris.
			</p>

		</div>
		<hr/>

		

		<div class="row">
			<div class="col-md-12">
				<p>
				Fait une balle qui rebondit comme sous l'influence de la gravité.
			</p>
			<p>
				<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/gravityBall/demo.png">	
					</center>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:580px">public class BallDeGravite extends GraphicsProgram {


	private static final int TAILLE = 20;
	private static final int RETARD = 20;

	private static final double GRAVITE = 0.5;
	private static final double AMORTISSEMENT = 0.7;

	public void run() {
		// Dessine une balle dans le coin en haut à droite
		GOval oval = new GOval(0,0,TAILLE, TAILLE);
		oval.setFilled(true);
		add(oval);

		// Déclarer des variables pour la vitesse
		double vx = 3;
		double vy = 0;

		while(true) {
			// mettre à jour vy
			vy = vy + GRAVITE;

			// la balle doit-elle rebondir?
			if(oval.getY() > (getHeight() - TAILLE) && vy > 0) {
				vy = vy * -AMORTISSEMENT;
			}

			// bouge toi
			oval.move(vx, vy);

			// pause d'animation
			pause(RETARD);
		}
	}
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
	</div>
	</div>
		
		%include templates/parts/footerFr.html

	</div>
</body>
