<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Court métrage
			</h1>
			<p>
				Écrit par Chris Piech et Keith Schwartz
			</p>
			<p>
				Exemple:
				<a href ="{{pathToRoot}}fr/projects/halfGreen.html">Half Green</a>,
				<a href ="{{pathToRoot}}fr/projects/target.html">Target</a>
				<br/>
			Documents à distribuer:
				<a href ="{{pathToRoot}}fr/handouts/graphics.html">Graphics Reference</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">

				<p>
					Saviez-vous que les films d'animation comme Toy Story, Up et Frozen sont réalisés à l'aide de programmes informatiques? Dans cette mission, vous allez utiliser un programme pour créer un court métrage.
					</p>

			<h2>Méthode d'affichage du message</h2>
			<p>
				Chaque film a un début et une fin. Parfois, il commence par "Once Upon a Time ...", parfois, il commence par un titre, parfois, par quelque chose de plus idiot. À la fin du film, il est parfois indiqué "La fin".

				<p>Ajoutez une méthode à votre programme pour dessiner un message à l’écran (sur un fond noir) et laissez le message pendant deux secondes.</p>

				<div class="well"><code><b>private</b> void displayMessage(String message)</code></div>

				Après deux secondes, vous devez supprimer le GRect qui est l'arrière-plan et le GLabel qui est le texte. Pour ce faire, vous pouvez utiliser la méthode remove (elle fait le contraire de la méthode add. Il faut un objet GObject qui se trouvait sur la toile et le supprime).

				<div class="well"><code>remove(<i>yourObject</i>);</code></div>


				Le message de démarrage doit ressembler à l'écran de gauche. Le message de fin devrait ressembler à l’écran de droite:
				<div>
						<div class="col-md-6 col-xs-6">
                            <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/onceUpon.png"></img>
					</div>
					<div class="col-md-6 col-xs-6">
                        <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/theEnd.png"></img>
					</div>
				</div>

				La police que nous avons utilisée était:
				<div class="well"><i>label</i>.setFont("Papyrus-40");</code></div>





				Bien sûr, vous pouvez réutiliser cette méthode autant que vous voulez raconter votre histoire!
			</p>


		</div>
	</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Soleil couchant</h2>
				<p>
						Votre film doit avoir une scène pour commencer: Un soleil couchant. dessine le ciel, la terre et un soleil. Ensuite,
						animer lentement le soleil qui descend. Le ciel devrait occuper la moitié supérieure de la toile et la terre, la deuxième moitié. Considérant les images suivantes depuis le début du programme, et le programme après quelques secondes.
					</p>

<center>
    <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/animation.png"></img>

</center>

				<!--<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimple.png"></img>
				</div>
				<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimpleT1.png"></img>
				</div>

				<div class="col-md-4 col-xs-3">
					<img style="width:100%" src="/img/projects/sunset/sunsetSimpleT2.png"></img>
				</div>-->

			</div>


		</div>


		<div class="row">
			<div class="col-md-12">
			<h2>Obtenir la méthode de la couleur</h3>
			<p>Ecrivez une méthode qui prend le temps et renvoie la couleur du soleil.</p>

			<div class="well"><code><b>private</b> Color getColor(<b>int</b> frame)</code></div>

			<p>
				Demandez à la méthode de renvoyer Color.YELLOW, Color.ORANGE ou Color.RED en fonction du nombre d'itérations passées.
			</p>
		</div>
	</div>


		<div class="row">
			<div class="col-md-12">
			<h2>Fais le mieux</h3>

			<p>Faites ce que vous voulez pour rendre votre histoire plus captivante qu'un simple soleil couchant. Pouvez-vous raconter une histoire d'amour ou d'action? N'oubliez pas d'utiliser des méthodes pour vous rendre la vie plus facile.</p>
<p>
			<center style="padding:10px;">
                <img style="width:500px" src="{{pathToRoot}}img/projects/sunset/poster.jpg"></img>
			</center>
			</p>

			<p>Vous pouvez également ajouter d'autres objets pour rendre votre scène plus captivante. Ajouter un arc-en-ciel (ou un double arc-en-ciel)? Avez-vous une idée de ce que les couchers de soleil ont toujours manqué? Que diriez-vous d'un pont illuminé sur le Bosphore?</p>

<div class="col-md-6 col-xs-6">
    <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/sunsetTrees.png"></img>
			</div>
			<div class="col-md-6 col-xs-6">
                <img style="width:100%" src="{{pathToRoot}}img/projects/sunset/sunsetT2.png"></img>
			</div>





		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
