<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Ligne de beepers (avec solution)
			</h1>
			<p>
				Écrit par Chris Piech
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Votre objectif est de remplir la première ligne du monde de Karel avec des beepers.
					Vous pouvez supposer qu'initialement, Karel commence au coin inferieur gauche de son monde et fait face a l'Est.

					Un exemple du déroulement de votre programme est illustré ci-dessous:
				</p>
				
				<p>
					<div class="row">
						<div class="col-md-2">
						</div>

						<div class="col-md-4">
							<h2 class='text-center'>Avant</h2>
							<img style="width:100%"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine1_before.png" />
						</div>
						
						<div class="col-md-4">
							<h2 class='text-center'>Après</h2>
							<img style="width:100%"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine1_after.png" />
						</div>

						<div class="col-md-2">
						</div>
					</div>
				</p>
				

				<p>
					Votre programme devrait aussi marcher pour des mondes de différente tailles. Par exemple, si nous executon
					le même programme sur un monde un peu plus grand, comme celui ci-dessous, Karel devrait toujours pouvoir 
					placer une ligne de beepers sans erreur. Cela signifie que nous ne pouvons pas utiliser une bouple 
					"pour" ("for" loop), car nous ne conaissons pas la taille du monde de Karel a l'avance.
				</p>

				<p>
					<div class="row">
						<div class="col-md-6">
							<h2 class='text-center'>Avant</h2>
							<img style="width:100%"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine2_before.png" />
						</div>
						<div class="col-md-6">
							<h2 class='text-center'>Après</h2>
							<img style="width:100%"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine2_after.png" />
						</div>
					</div>
				</p>

			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:330px">/*
* Programme: LigneDeBeepers
* ----------
* Placer des beepers sur toute la premiere ligne du monde de Karel.
* Suppose que Karel commence dans le coin inférieur gauche et fait face a l'Est.
*/

import stanford.karel.SuperKarel;

public class LigneDeBeepers extends SuperKarel {
	
	public void run() {
		while(frontIsClear()) {
			putBeeper();
			move();
		}
		
		// La ligne de code suivante est nécessaire pour placer le beeper final.
		// A chaque iteration, Karel place un beeper dans la cellule courante 
		// et se déplace pour la cellule suivante.
		// Cette ligne de code place un beeper dans la derniere
		// cellule dans laquelle Karel s'est positioné.
		putBeeper();
	}

}
</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

			</div>
		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
