<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Compte à rebours
			</h1>
			<p>
                Écrit par Lisa Yan
			</p>
			<p>
				Référence:
				<a href ="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
                    Ceci est un programme de bonus! C'est un peu difficile, mais terminer ce programme vous aidera certainement à écrire votre projet final.
                </p>
                <p>
                    Ecrivez un programme graphique qui affiche un compte à rebours à partir de dix, une fois par seconde, et affiche un message une fois que le compte à rebours a atteint zéro.
                </p>
            <h2> Configurer la minuterie</h2>
            <p>
            Pour implémenter cette minuterie, nous aurons besoin d’une représentation logique et d’une représentation visuelle de notre valeur de compte à rebours, qui sont données par deux variables de classe:
            </p>
			<div class="well"><code>
                private GLabel countdownLabel; // affichage de la valeur de la minuterie<br>
                private int countdown; // valeur réelle de la minuterie
			</code></div>
            <p>
							Choisissez une police de grande taille pour votre minuterie et commencez par afficher l'heure de début (TOTAL_TIME) à l'écran. Vous pouvez convertir des entiers en chaînes en ajoutant la méthode suivante à votre code:
            </p>
<pre>public String formatIntToString(int x) {
    return "" + x;
}</pre>

            Votre toile de départ devrait ressembler à ceci (j’ai utilisé la police Consolas de taille 200):
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/countdown/countdown10.png">
					</center>

            <h2>Implémenter le compte à rebours</h2>
            <p>
            Ecrivez votre boucle d'animation qui met à jour les représentations logiques et visuelles du compte à rebours chaque seconde.<br>
            N'ajoutez pas de nouvelles GLabels! Continuez simplement à changer le texte de l'ancien en utilisant la méthode de GLabel <code>setLabel()</code>.
            </p>
			<div class="well"><code>
            // Définit le texte de countdownLabel sur "hello world"<br>
            countdownLabel.setLabel("hello world");
			</code></div>

            <p>Rappelez-vous que le délai est compté en millisecondes et nous voulons que la minuterie fonctionne à la seconde près.</p>


            <h2>Formater votre minuterie</h2>
            <h3>Zero-padding</h3>
            <p>Comme il s’agit d’un chronomètre, nous voulons <i> numéroter à zéro </ i> nos nombres, ce qui signifie ajouter un zéro à l’avant d’un nombre afin qu’il reste à la même largeur. Comment mettriez-vous à jour la représentation visuelle de votre compte à rebours pour afficher les éléments suivants?</p>
            <p>Astuce: Apportez vos modifications à <code>formatIntToString()</code>.</p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/projects/countdown/countdown03.png">
			</center>
            <h3>Polices à largeur fixe</h3>
            <p>Selon votre choix de police, il se peut que votre minuterie ne soit pas encore alignée, même après la mise à zéro. C'est un problème avec lequel beaucoup de programmeurs graphiques ont du mal! Assurez-vous de choisir une police à largeur fixe, où chaque caractère / chiffre a la même largeur. Les exemples courants sont Consolas, Monaco et Courier.
            </p>

            <h2>Finir</h2>
            <p>
							Une fois que la minuterie atteint zéro, affichez un message. Ça peut être n'importe quoi!
            </p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/projects/countdown/timesUp.png">
			</center>
            <h2>Bonus: Ajouter des minutes</h2>
            <p>Ajoutez maintenant des minutes à votre compte à rebours pour que le minuteur affiche 1:00, 0:59, 0:58, etc.</p>
            <p>
							Conditions générales d'Utilisation:
            </p>
            <ul>
                <li>Essayez de garder un <i>variable unique</i> qui enregistre votre temps restant en secondes. Évitez de suivre les minutes et les secondes séparément.</li>
                <li>Séparez votre variable unique en minutes et en secondes lorsque vous affichez le compteur. Pensez à définir des méthodes pour rendre votre logique très claire.</li>
                <li>Pour déboguer rapidement, accélérez votre chronomètre en réduisant le temps de pause.</li>
                <li>Rappelez-vous la fonction "mod"! Exemple: <code>5 % 2 = 1</code></li>
            </ul>
            <p>Bonus bonus: Comment ajouteriez-vous des millisecondes? La convention d'affichage est la suivante: 1: 03.234.</p>
			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
