<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Nombre préféré
			</h1>
			<p>
				Problème écrit par Chris Bryce et Julia
			</p>

			<p>
				Référence:
				<a href ="{{pathToRoot}}fr/handouts/console.html">Console</a>
				<br />

				Exemples:
				<a href="{{pathToRoot}}fr/projects/emc2.html">E=MC2</a>,
				<a href="{{pathToRoot}}fr/projects/fibb.html">Fibbonacci</a>,
				<a href="{{pathToRoot}}fr/projects/carbonDating.html">Carbon Dating</a>
				<br />
				
				Code: <code>NombrePrefere.java</code>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">

				<p>
					Avant tout pensez à votre nombre préféré entre 0 et 100. Ecrivez un programme qui enregistre 
					votre nombre préféré dans une variable et demande à l’utilisateur de le deviner à plusieurs reprises. 
					Faites savoir à l’utilisateur si sa dernière estimation est inférieur ou supérieur.
				</p>
				<p>
					Par exemple mon nombre préféré est 88. Voici une démo de l’utilisateur essayant de deviner ce nombre:
				</p>
				<p>
					<center>
						<img style="width:600px" src="{{pathToRoot}}img/projects/favoriteNumber/favourite_number_demo_fr.png">
					</center>
				</p>


			</div>
		</div>

		%include templates/parts/footerFr.html

	</div>
</body>
