<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Le Drapeau Guinéen
			</h1>
			<p>
				Écrit par Lisa E. 
			</p>

		</div>

		<p>
			Référence: 
			<a href ="{{pathToRoot}}fr/handouts/karel_reference.key.pdf">Référence Karel</a>
			<br />Code: <code>DrapeauGuineen.java</code> (Jour1)
		</p>


		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					
				Quelqu'un a volé le drapeau hier et Karel doit en fabriquer un rapidement! Avant que les étudiants arrivent à l'école!

					<p>
					<left>
						<img style="width:30%"  src="{{pathToRoot}}img/projects/Flag/flagPole.png">	
					</left>
					<right>
						<img style="width:65%"  src="{{pathToRoot}}img/projects/Flag/flagPoleRaised.png">	
					</right>
				</p>

				
				
				<h2>Peinture</h2>
				<p>
					Karel a quelques commandes dans sa manche. Elle peut peindre le coin sur lequel elle se tient en suivant les instructions
<div class="well"><code>paintCorner(color);</code></div>
La valeur entre parenthèses, appelée un argument dans la terminologie
des langages de programmation, peut être l’un des suivants:
                 <span style="color:red;">RED</span>&nbsp;&nbsp;
                 <span style="color:orange;">ORANGE</span>&nbsp;&nbsp;
                 <span style="color:green;">GREEN</span>&nbsp;&nbsp;
                 <span style="color:cyan;">CYAN</span>&nbsp;&nbsp;
                 <span style="color:blue;">BLUE</span>&nbsp;&nbsp;
                 <span style="color:magenta;">MAGENTA</span>
                 et plus...
				</p>
				
				<h2>Drapeau</h2>
				<p>
					Utilisez la capacité de Karel à peindre pour fabriquer le drapeau guinéen. Vous avez la garantie que le tissu est large de 12 cellules, mais vous ne savez pas quelle sera sa hauteur (astuce: utilisez les boucles "pour" et "tant-que")
				</p>

				<p>
					<div class="row">
						<div class="col-md-6">
							<h2 class="text-center text-large">Avant</h2>
							<img style="width:100%"  src="{{pathToRoot}}img/projects/Flag/karelGuineanFlagBefore.png">
						</div>
						<div class="col-md-6">
							<h2 class="text-center text-large">Après</h2>
							<img style="width:100%"  src="{{pathToRoot}}img/projects/Flag/karelGuineanFlagAfter.png">
						</div>
					</div>
				</p>
				
				<p>
					Comme toujours, n'oubliez pas de décomposer votre solution! Votre programme devrait fonctionner sur 
					les mondes de largeur 12 cellules et de n'importe quelle hauteur.
				</p>
			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
