<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Inverser (avec solution)
			</h1>
			<p>
				Problème écrit par Eric Roberts
			</p>

			<p>
				Référence: <a href ="{{pathToRoot}}fr/handouts/karel_reference.key.pdf">Karel Reference</a>
				<br />Code: <code>Inverser.java</code> (Jour1)
			</p>
				
		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Pour un monde de n'importe quelle taille, avec n'importe quelle configuration de beepers 
					(aucune cellule n'aura plus d'un), inversez toute les cellules de sorte qu'il n'y ait plus
					de beeper là ou il y en avait avant, et qu'il y ait un beeper là ou il n'y en avait pas.
					Prenons l'exemple suivant.
				</p>

				<p>
					<div class="row">
						<div class="col-md-6">
							<h2 class="text-center text-large">Avant</h2>
							<img style="width: 100%;" class="psetImg img-fluid" src="{{pathToRoot}}img/projects/invert/invert_before.png" />
						</div>
						<div class="col-md-6">
							<h2 class="text-center text-large">Après</h2>
							<img style="width: 100%;" class="psetImg img-fluid" src="{{pathToRoot}}img/projects/invert/invert_after.png" />
						</div>
					</div>
				</p>

				
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:1010px">
import stanford.karel.SuperKarel;

/*
 * Ce programme inverse toutes les cellules du monde de Karel.
 * Les cellules qui avaient un beeper n'en auront plus.
 * Les cellules qui n'avaient pas de beepers en auront.
 */
public class Inverser extends SuperKarel {

	public void run() {
		inverserLigne();
		retourVersOuest();
		while (leftIsClear()) {
			turnLeft();
			move();
			turnRight();
			inverserLigne();
			retourVersOuest();
		}
	}

	/*
	 * Cette méthode inverse la ligne courante.
	 * 
	 * Elle suppose que Karel est au debut (a gauche, l'Ouest) 
	 * de la ligne et fait face a l'Est.
	 * 
	 * Après l'exécution de cette methode, Karel sera a la fin 
	 * (a droite, l'est) de la ligne qu'il vient d'inverser.
	 */
	private void inverserLigne() {
		while (frontIsClear()) {
			inveserCellule();
			move();
		}
		inveserCellule();
	}

	/*
	 * Cette méthode inverse une cellule. 
	 * - Si la cellule contient un beeper, Karel le prends.
	 * - Si la cellule ne contient pas de beeper, Karel en place un. 
	 */
	private void inveserCellule() {
		if (beepersPresent()) {
			pickBeeper();
		} else {
			putBeeper();
		}
	}

	/*
	 * Cette méthode fait retourner Karel au debut (gauche, Ouest)
	 * de la ligne courante.
	 * 
	 * Elle suppose que karel est sur la ligne courante et fait face a l'Est.
	 * Elle fait faire Karel un demi tours, avancer jusqu'a rencontrer un mur, 
	 * et faire un autre demi tours pour faire face a l'Est.
	 */
	private void retourVersOuest() {
		turnAround();
		while (frontIsClear()) {
			move();
		}
		turnAround();
	}
}
</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		%include templates/parts/footerFr.html

	</div>
</body>
