<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Médicament contrefaits
			</h1>
			<p>
				Problème écrit par Chris Piech
			</p>

			<p>
				Références:
				<a href ="{{pathToRoot}}fr/handouts/console.html">Console</a>,
				<a href ="{{pathToRoot}}fr/handouts/random.html">Générateur Aleatoire</a>
				<br />

				Exemples:
				<a href="{{pathToRoot}}fr/projects/emc2.html">E=MC2</a>,
				<a href="{{pathToRoot}}fr/projects/fibb.html">Fibbonacci</a>,
				<a href="{{pathToRoot}}fr/projects/carbonDating.html">Carbon Dating</a>
				<br />
				
				Code: <code>MedicamentsContrefaits.java</code>
			</p>


		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<h2 style="margin-top:0px;">L’histoire</h2>

				<p>
					Ce problème commence par une histoire triste. Quand je grandissait au Kenya on estimait que plus de 38% des médicaments vendus dans les pharmacies étaient faux [1]. C’était un gros problème. Selon l’organisation interrogée, les décès dus aux médicaments contrefaits allaient de 100.000 par an (OMS) à 700.000 (IPN) [2].
					
					<blockquote>
					Le nombre de décès dus aux médicaments contrefaits était équivaut à “quatre crache de gros porteurs par jours” [2]
					</blockquote>
				</p>
				
				<p>
				En 2009, un boursier Ghanéen appelé Bright Simmons est a proposé une  solution technologique simple qu’il a appelé mPedigree. 
				Il a fait un partenariat avec les entreprises qui fabriquent les médicaments. Sur chacun des emballages de médicament 
				légitimes ils ont apposés un code à gratter unique. 

				Depuis, quand vous achetez dans une pharmacie au Kenya, vous vérifiez le code à gratter en envoyant  un message texte 
				à mPedigree. 
				Si le code est dans le système, et qu’il n’a jamais été utilisé avant, mPedigree envoie les message textuel  qui dit : “valide.” 
				Il y’a eu une diminution de 58% de mortalité infantile dû uniquement au paludisme [3]. 
				
				Souvent de simple solutions de programmation peuvent avoir un impacte positif important  sur le monde.
				</p>

				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Votre tâche</h2>
				<p>
					Ecrivez un programme qui génère des nombres à 10 chiffres pour 1000 emballages de médicament. 
					Chaque nombre que vous allez générer doit être (1) unique et (2) imprédictible.
				</p>

				<p>
					Voici une capture d’écran d’un exemple d’exécution:
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/medicine/medicineRun.png">
						<p style="text-align:center"><!--<i>Unique, unpredictable numbers for medicines.</i>--></p>
					</center>
				</p>

				<p>Ces nombres seront mis sur les paquets de médicaments. Les contre-joueurs n'ont aucune chance!</p>

				<p>C'est tout! Posez des questions si vous ne comprenez pas quelque chose (ou si vous voulez en savoir plus sur les médicaments contrefaits)</p>

			</div>
		</div>
		


		%include templates/parts/footerFr.html

	</div>
</body>
