<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Karel des montagnes
			</h1>
			<p>
				Basé sur un document d'Eric Roberts
			</p>
			<p>
				Référence: <a href ="{{pathToRoot}}fr/handouts/karel_reference.key.pdf">Référence Karel</a>
				<br/>Exemple: <a href="{{pathToRoot}}fr/projects/beeperLine.html">Ligne de beeper</a>
				<br />Code: <code>RamasserJournal.java</code> (Jour1)
			</p>
	
		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Karel rêve d'escalader des montagnes. Apprenez-lui à atteindre le sommet d'une montagne de n'importe quelle hauteur. Par exemple, pour la montagne suivante:
				</p>
				
				
				<p>
					Karel devrait monter au sommet et y laisser un drapeau (un bipeur), comme indiqué ci-dessous:
				</p>
				
				<div class="row">
					<div class="col-md-6">
						<h2 class='text-center'>Avant</h2>
						<img class="psetImg" style="width:400px" src="{{pathToRoot}}img/projects/mountain/mountain0.png" />
					</div>
					<div class="col-md-6">
						<h2 class='text-center'>Après</h2>
						<img class="psetImg" style="width:400px"  src="{{pathToRoot}}img/projects/mountain/mountain1.png" />
					</div>
				</div>

				<p>
					Notez que <b>vous ne conaissez pas la taille de la montagne à l'avance.</b> La montagne peut être de 
					n'importe quelle taille, par exemple, les 3 montagnes suivantes:
					
				</p>
				<p>
					<center>
						<img class="psetImg" style="width:100%"  src="{{pathToRoot}}img/projects/mountain/mountains.png">
					</center>
				</p>
				<p>
				 	Vous pouvez supposer que:
					<ul>
						<li>Initialement, Karel est en position (ligne: 1, colone: 1), et fait face a l'Est.
						<li>Il y a un espace (à gauche et à droite) entre la montagne et les murs du monde.
						<li>La montagne est haute d'au moins une cellule.
					</ul>
				</p>
				<p>
					Utilisez des boucles "tant que" (while loops).
				</p>
			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
