<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Placer 100 (avec solution)
			</h1>
			<p>
				Problem écrit par Chris
			</p>

			<p>
				Référence: <a href ="{{pathToRoot}}fr/handouts/karel_reference.key.pdf">Karel Reference</a>
				<br />Code: <code>Placer100.java</code> (Jour1)
			</p>
	

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Votre objectif est de faire que Karel dépose 100 beepers sur la cellule en face de sa position de depart.
					Ne tapez surtout pas <code>putBeeper();</code> 100 fois! (Astuce: utiliser une boucle "pour")
				</p>

				<p>
					<div class="row">
						<div class="col-md-6">
							<h2 class="text-center text-large">Avant</h2>
							<img style="width:100%" class="psetImg" src="{{pathToRoot}}img/projects/place100/place100_before.png" />
						</div>
						<div class="col-md-6">
							<h2 class="text-center text-large">Après</h2>
							<img style="width:100%" class="psetImg" src="{{pathToRoot}}img/projects/place100/place100_after.png" />
						</div>
					</div>
				</p>

				
				
			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:280px">/**
 * Programme: Placer100
 * -------------
 * Ce programme fait que Karel depose une pile de 100 beepers.
 */

public class Place100 extends SuperKarel {
	
	public void run() {
		move();

		// Cette boucle "pour" ("for" loop) répétera le code dans son corps 100 fois.
		for(int i = 0; i &lt; 100; i++) {
			putBeeper();
		}

		move();
	}
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		%include templates/parts/footerFr.html

	</div>
</body>
