<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Cercles aléatoires
			</h1>
			<p>
				Basé sur un document d'Eric Roberts
			</p>
			<p>
				Référence:
				<a href="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a>
				<br/>
				Exemple:
				<a href="{{pathToRoot}}fr/projects/sorcerer.html">La Sorcière</a>
				<br/>
				Code: <code>CerclesAleatoires.java</code>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Ecrivez un programme graphique qui dessine un ensemble de dix cercles de différentes tailles, positions et couleurs. Chaque cercle doit avoir une couleur choisie au hasard, un rayon au hasard compris entre 70 et 200 pixels et une position choisie au hasard sur la toile, à la condition que la totalité du cercle soit ajustée à l'intérieur de la toile sans dépasser le bord. L'exemple de test suivant montre un résultat possible:
				</p>
				<p>
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/randomCircles/demo1.png">
					</center>
				</p>
				<p>
					Sur certaines exécutions de ce programme, il est possible que vous ne voyiez pas dix cercles. Pourquoi?
				</p>

				<p>Pour générer des nombres aléatoires, créez une variable d'instance RandomGenerator (une variable déclarée en dehors de toutes les méthodes), comme suit:
					<div class="well"><code>private RandomGenerator rgen = new RandomGenerator();</code></div>
				</p>
				<p>Vous pouvez ensuite utiliser la variable pour générer des nombres aléatoires.
					<div class="well"><code>
						rgen.nextInt(<i>min</i>, <i>max</i>)  //generates a random int in the range (min, max)
						<br>rgen.nextColor() //génère une couleur aléatoire
					</code></div>
				</p>

				<p>Si vous finissez plus tôt, envisagez de faire des beignets au hasard.</p>
			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
