<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Châteaux de sable
			</h1>

			<p>
				Karel Références:
				<a href ="{{pathToRoot}}fr/handouts/console.html">Console</a>,
				<a href ="{{pathToRoot}}fr/handouts/random.html">Générateur Aleatoire</a>
				<br/>
				Exemples:
				<a href="{{pathToRoot}}fr/projects/emc2.html">E=MC2</a>,
				<a href="{{pathToRoot}}fr/projects/fibb.html">Fibbonacci</a>,
				<a href="{{pathToRoot}}fr/projects/carbonDating.html">Carbon Dating</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">

				<p>Ecrivez les trois programmes suivants afin de vous familiariser avec les variables Java.</p>

				<h2>1. Hello World</h2>
				<p>
					Code: <code>HelloWorld.java</code>
				</p>
				<p>
					Ecrivez un programme console qui affiche "Hello World" (ou tout autre message que vous souhaitez):
				</p>
				<p>
					<center>
						<img style="width:400px" src="{{pathToRoot}}img/projects/sandcastles/hello.png">
					</center>
				</p>

				<hr/>

				<h2>2. Poids lunaire</h2>
				<p>
					Code: <code>PoidsLunaire.java</code>
				</p>
				<p>
					Un utilisateur (un terrien) saisi son poids sur terre. Votre programme doit afficher le poids de 
					l’utilisateur sur la lune, qui correspond à 16,5% de son poids sur la terre.
				</p>

				<p>
					<center>
						<img style="width:400px" src="{{pathToRoot}}img/projects/sandcastles/moon.png">
					</center>
				</p>


				<h2>3. Nombres Aléatoires</h2>
				<p>
					Code: <code>NombresAleatoires.java</code>
				</p>
				<p>
					Ecrivez un programme qui affiche 1000 nombres aléatoires entre 0 et 100
				</p>
				<p>
					<center>
						<img style="width:400px" src="{{pathToRoot}}img/projects/sandcastles/randoms.png">
					</center>
				</p>

				<p>Le fichier NombresAleatoires.java a un code qui génère un seul nombre aléatoire.
					<pre id="editor" style="height:200px">public class NombresAleatoires extends ConsoleProgram {
							   
	// Un generateur de nombres aleatoires
	private RandomGenerator rg = new RandomGenerator();

	public void run() {
		// change ce code pour afficher 1000 nombres aleatoires
		// entre 0 et 100
		int nombreAleatoire = rg.nextInt(0, 10);
		println(nombreAleatoire);	
	}
}
</pre>
				</p>

				<p>
					Pour pouvoir générer des nombres aléatoires, créez une variable qui est une instance de RandomGenerator 
					(la variable est déclarée en dehors des autres méthodes) comme suit :
					<div class="well"><code>private RandomGenerator rgen = new RandomGenerator();</code></div>
				</p>
				<p>
					Vous pouvez ensuite utiliser cette variable pour générer des nombres aléatoires.
					<div class="well"><code>
						rgen.nextInt(<i>min</i>, <i>max</i>)  // génère un int aléatoire dans l'intervale (min, max) inclus
					</code></div>
				</p>
			</div>
		</div>

		<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>


		%include templates/parts/footerFr.html

	</div>
</body>
