<head>

  %include templates/parts/headFr.html


</head>
<body>

  <!-- Navigation Bar -->
  %include templates/parts/navBarFr.html

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        C'est une somme!
      </h1>
      <p>
        Problème écrit par Bryce C-R, Julia Lee, Chris Piech et TY Huang
      </p>

      <p>
          Référence:
          <a href ="{{pathToRoot}}fr/handouts/console.html">Console</a>
          <br />
          
          Code: <code>Somme.java</code>
        </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>Ecrire un programme prend en entrée 10 entiers saisis par l’utilisateur et donne en sortie la somme des valeurs en entrée.</p>
        
        <p>
          <center>
            <img style="width:600px" src="{{pathToRoot}}img/projects/someSum/some_sum_demo_fr.png">  
          </center>
        </p>

        <p>
            Souvent dans les programmes console, il sera nécéssare d’afficher le résultat à l’utilisateur sous forme d’un texte. L’exemple ci dessus est : 
            <br />
            <br />
            “La somme est: 55”
            <br />
            <br /> 
            Si vous exécutez le programme avec les valeurs ci-dessus en entrée, 55 sera la valeur stockée dans la variable qui représente. Si cette variable s’appelle <code>exempleDeSomme</code>, alors pour écrire dans la console vous écrirez : 
            <br />
            <br />
            println("La somme est: " + exempleDeSomme);
            <br />
            <br />
            Une forme plus générale est:
            <br />
            <br />
            "Message textuel" + nomVariable + "plus de message textuel"
            <br />
            <br />
        </p>
        
      </div>

    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
    
    %include templates/parts/footerFr.html

  </div>
</body>
