<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Monter un escalier (avec solution)
			</h1>
			<p>
				Basé sur un document d'Eric Roberts
			</p>

			<p>
				Référence: <a href ="{{pathToRoot}}fr/handouts/karel_reference.key.pdf">Karel Reference</a>
				<br />Code: <code>MonterEscalier.java</code> (Jour1)
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Karel commence dans le monde à gauche. Comment programmerez-vous Karel pour 
					prendre le beeper et le transporter sur la marche de l'escalier?
					
					Karel devrait:
					<ul>
						<li>Prendre le beeper a la position (ligne: 1, colone: 2)</li>
						<li>le deposer a la position (ligne: 2, colone: 3), et</li>
						<li>s'arreter a la position (ligne: 2, colone: 4).</li>
					</ul>
					A la fin de votre programme, le monde de Karel devrait ressembler à l'image de droite.
				</p
				<p>
					<div class="row">
						<div class="col-md-6">
							<h2 class="text-center text-large">Avant</h2>
							<img style="width:100%" class="psetImg" src="{{pathToRoot}}img/projects/stepUp/step_up_before.png" />
						</div>
						<div class="col-md-6">
							<h2 class="text-center text-large">Après</h2>
							<img style="width:100%" class="psetImg" src="{{pathToRoot}}img/projects/stepUp/step_up_after.png" />
						</div>
					</div>
				</p>

				<br/>
				<p>
					Si Karel ne connaît que les commandes:
					<div class="well">
						<code>
							move();
							<br/>pickBeeper();
							<br/>putBeeper();
							<br/>turnLeft();
						</code>
					</div>
					Comment pouvez-vous faire tourner Karel à droite?
				</p>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>

				<p>
					Une solution est fournie pour cet exemple afin que vous puissiez voir à quoi ressemble un programme complet!
				</p>


<pre id="editor" style="height:460px">
import stanford.karel.*;
/* Programme: Monter un escalier
* ----------
* Votre premier exemple de programme Karel. Ce programme 
* demande a Karel de prendre le beeper devant lui, et de
* le placer sur la marche de l'escallier.
* Ceci est un commentaire. Il sera ignoré pendant l'execution
* du programme
*/
public class MonterEscalier extends Karel {
	
	/*
	* Lorsque vous démarrez votre programme, cette 
	* méthode sera executée.
	*/
	public void run() {
		move();
		pickBeeper();
		turnLeft();
		move();
		turnRight();
		move();
		putBeeper();
		move();
	}
	
	/*
	* Definition d'une nouvelle commande (méthode)
	* qui permet à Karel de tourner a droite
	*/
	private void turnRight() {
		turnLeft();
		turnLeft();
		turnLeft();
	}

}
</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
			</div>
		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
