<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				La Voiture Est en Pane
			</h1>
			<p>
				Problème écrit par Chris Piech et adapter par Lisa E. 
			</p>
			<p>
				Référence:
				<a href="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a>
				<br/>
				Exemples:
				<a href="{{pathToRoot}}fr/projects/robotFace.html">Robot Face</a>
				<br/>
				Code: <code>VoitureEnPanne.java</code>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Vous voulez aller à Conakry, mais la gare voiture dit qu'il n'y a pas de voiture pour la semaine prochaine! Heureusement, avec vos compétences de programmation magiques, vous pouvez construire votre propre voiture.
				<p>
					Ecrivez un programme qui dessine cette image. Vous devez utiliser les constantes fournies, mais n'hésitez pas à les changer (ou à recolorer une partie du visage)</p>
				<p>
					<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/voiture/voiture.png">	
					</center>
				</p>

				<p>Quelques constantes sont fournies. Utilisez-les pour ne pas avoir de nombres "magiques" dans votre programme.</p>

				<p> <br/>- Pneus rouges à (20, 70) et (80, 70), 	taille 20x20
	 				<br/>- Pare-brise cyan à (80, 40), taille 	30x20
 					<br/>- Corps bleu à (10, 30), taille 100x50 
					<br/>- Fond jaune
					

    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
	</div>
	</div>
		
		%include templates/parts/footerFr.html

	</div>
</body>
