<head>
	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Reference des programmes Console
			</h1>
			<p>
				Ecrit par Danielle Kain, Kevin Miller
			</p>
		</div>
		<hr/>
		Les programmes Console permettent les interactions and votre programme et l'utilisatuer. Pour écrire des programme console,
		assurez-vous que votre classe hérite de la classe ConsoleProgram: 
		<div class="well">
			<code>
<pre>
public class NomDeMaClasse extends ConsoleProgram {
    // ...
}
</pre>
			</code>
		</div>
		<br>
		Les programme consoles peuvent peuvent recevoir  des informations de  l'utilisateur. Voici quelques exemples:
		<div class="well"><code><pre>
readLine(String messageDinvite); // Lis et retourne une chaine de caracteres saisit par l'utilisateur
readInt(String messageDinvite); // Lis et retourne un nombre entier saisit par l'utilisageur
readDouble(String messageDinvite); // Lis et retourne un nombre reel saisit par l'utilisateur
println(String messageAImprimer); // Imprime un message sur la console
		</pre></code></div>		
		%include templates/parts/footer.html

	</div>
</body>
