<head>
	%include templates/parts/headFR.html

</head>
<body>
	<style>
		.comment {
			color:#729683;
			font-family: monaco;
			font-weight:400;
			font-size:13px;
		}
	</style>
	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Référence des programmes console
			</h1>
			<p>
				Ecrit par Danielle Kain, Kevin Miller. Traduit par Moussa Doumbouya.
			</p>
		</div>
		<hr/>
		Les programmes consoles permettent des interactions avec l'utilisatuer. Pour écrire des programmes console,
		assurez-vous que votre classe hérite de la classe ConsoleProgram: 
		<div class="well">
			<code>
<pre>
public class NomDeMaClasse extends ConsoleProgram {
    <i class="comment">// ...</i>
}
</pre>
			</code>
		</div>


		<br />
		Les programmes consoles peuvent afficher des informations pour l'utilisateur.
		<div class="well">
		<code>
<pre>
println(String messageAImprimer); <i class="comment">// Imprime un message sur la console</i>
</pre>
		</code>
		</div>
		
		<br>
		Les programmes consoles peuvent recevoir  des informations de  l'utilisateur. Les appels de methodes suivantes
		lisent et retournent des informations de type différent saisits par l'utilisateur
		<div class="well"><code><pre>
readLine(String messageInvite); <i class="comment">// une chaine de caractères</i>
readInt(String messageInvite); <i class="comment">// un nombre entier</i>
readDouble(String messageInvite); <i class="comment">// un nombre réel</i>
		</pre></code></div>

		Le paramètre <code>messageInvite</code> ci-dessus est le message que votre programme affiche quand il 
		invite l'utilisateur a saisir et entrer une information.

		%include templates/parts/footer.html

	</div>
</body>
