<head>

	%include templates/parts/head.html

<style type="text/css">
	.refCard {
		display: flex;
		align-items: stretch;
		width:100%;
	}
	.refCol {
		flex-grow:1;
		width:370px;
	}
	.bordered {
		border: 1px solid black
	}
	.refCel {
		padding-left: 5px;
	}
	.refCode {
		margin-left:5px;
		margin-top:7px;
	}
	.refComment {
		color:#729683;
  font-family: monaco;
  font-weight:400;
  font-size:13px;
	}
	.comment {
  color:#729683;
  font-family: monaco;
  font-weight:400;
  font-size:13px;
}
	.demoText{
  color:blue;
}
.keyword {
  color:#7e0855;
}
</style>
</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container"><!-- Header -->
	<div id="pageHeader"><h1>Reference de karel</h1>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">


<p>
	Cette appendice définit la structure du language de programmation Karel en une seule page.
</p>

<div class="refCard bordered">
	<div class="refCol">
		<div class="refCel bordered">
			<b> Instructions de base de Karel:</b>
			
			<p class="refCode">
				<code>move(); <span class="comment"> // Avancer.</span> </code> <br/>
				<code>turnLeft(); <span class="comment"> // Tourner a gauche.</span></code></br/>
				<code>putBeeper(); <span class="comment"> // Deposer beeper.</span> </code></br/>
				<code>pickBeeper(); <span class="comment"> // Prendre beeper.</span> </code></br/>
			</p>
		</div>

		<div class="refCel bordered">
			<b>Structure d'un programme de Karel:</b>
			
			<p class="refCode">
				<code class="comment">/*</code></br/>
<code class="comment">&nbsp;* Les commentaires peuvent etre inclus dans</code><br/>
<code class="comment">&nbsp;* n'importe quelle partie du programme. Elles </code><br/>
<code class="comment">&nbsp;* commencent par un slash-asterisque et </code><br/>
<code class="comment">&nbsp;* finissent par un asterisque-slash.</code><br/>
<code class="comment">&nbsp;*/</code><br/>

				<code><span class="keyword">public class</span> <i class="demoText">NomDeLaClasse</i> <span class="keyword">extends</span> Karel {</code><br/>

				<br/>
				<code>&nbsp;&nbsp;&nbsp;<span class="keyword">public void</span> run() {</code><br/>
				<code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><i class="comment">// inserer des instructions ici.</i><br/>
				<code>&nbsp;&nbsp;&nbsp;}</code><br/>
				<br/>
				<code>&nbsp;&nbsp;&nbsp;</code><i class="comment">// definir des methodes ici.</i><br/>
				<code>}</code><br/></p>
		</div>

		<div class="refCel bordered">
			<b>Nom des conditions:</b>
			
			<div class="refCard" style="margin-top:7px">
				<div class="refCol">
					<code>avantDegage()</code><br/>
					<code>jettonsPresents()</code><br/>
					<code>jettonsDansSac()</code><br/>
					<code>gaucheDegage()</code><br/>
					<code>droiteDegage()</code><br/>
					<code>facantNord()</code><br/>
					<code>facantSude()</code><br/>
					<code>facantEst()</code><br/>
					<code>facantOuest()</code><br/>
				</div>
				<div class="refCol">
					<code>avantBloque()</code>
					<code>jettonsNonPresents()</code><br/>
					<code>pasDeJettonDansSac()</code><br/>
					<code>gaugeBloquee()</code><br/>
					<code>droiteBloquee()</code><br/>
					<code>neFacantPasNord()</code><br/>
					<code>neFacantPasSud()</code><br/>
					<code>neFacantPasEst()</code><br/>
					<code>neFacantPasOuest()</code><br/>
				</div>
			</div>

			
		</div>


		
	</div>

	<div class="refCol">
		<div class="refCel bordered">
			<b>Conditions:</b>
			<p class="refCode"><code><span class="keyword">if</span>(</code><i class="demoText">condition</i><code>){</code><br/><i class="demoText" style="margin-left:2em">code qui s'execute si "oui"</i><br/><code>}</code></p>

			<p class="refCode" style="margin-top:15px"><code><span class="keyword">if</span>(</code><i class="demoText">condition</i><code>){</code><br/><i class="demoText" style="margin-left:2em">code qui s'execute si "oui"</i><br/><code>} <span class="keyword">else</span> {</code><br/><i class="demoText" style="margin-left:2em">code qui s'execute si "non"</i><br/><code>}</code></p>
		</div>
		<div class="refCel bordered">
			<b>Boucles:</b>
			<p class="refCode"><code><span class="keyword">for</span>(int i = 0; i &lt;</code>&nbsp;<i class="demoText" >nombre</i><code>; i++){</code><br/><i class="demoText" style="margin-left:2em">declarations a repeter.</i><br/><code>}</code></p>

			<p class="refCode" style="margin-top:15px"><code><span class="keyword">while</span>(</code><i class="demoText">condition</i><code>){</code><br/><i class="demoText" style="margin-left:2em">declarations a repeter.</i><br/><code>}</code></p>
		</div>

		<div class="refCel bordered">
			<b>Declaration d'une methode:</b>
			<p class="refCode"><code><span class="keyword">private void</span></code><i class="demoText" style="margin-left:10px">nombre</i><code>() {</code><br/><i class="demoText" style="margin-left:2em">commandes dans le corps de la methode.</i><br/><code>}</code><br/></p>
		</div>
		

		<div class="refCel bordered">
			<b>Commandes additionnelles de Karel:</b>
			<!-- for balance -->
			<div style="height:5px"></div>
			
			<p class="refCode">
				<!-- <code>girarDerecha();</code></br/> -->
				<code>faireDemiTours();</code></br/>
				<code>aleatoire(</code><i class="demoText">p</i><code>);</code></br/>
				<code>colorerCoin(</code><i class="demoText">couleur</i><code>);</code></br/>
			</p>
			<!-- for balance -->
			<div style="height:11px"></div>
		
		</div>
	</div>


</div>

			

		</div>
	</div>


		
		
		%include templates/parts/footer.html

	</div>
</body>