<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

    <div class="page-header" style="backgroud-color:#cdbfe3">
    	<div class="container">
   			<div>
				<div id="headerText" style="padding-bottom:15px;">
					<div class="h1" style="margin-top:0px;font-size:40px;">
                        Programmes de bonus
					</div>
					<div>
						Summer 2019
					</div>
				</div>

	        </div>
		</div>
	</div>



	<!-- Main Content -->
	<div class="container">

		<div class="section" id="schedule">
            %include templates/parts/bonusTableFr.html
            <hr/>

		</div>







		%include templates/parts/footerFr.html

	</div>
</body>
