<head>

    <head>

        <title>Introduction à l'Informatique</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="content-type" content="text/html; charset=UTF8">

        <!-- Fonts -->
        <!--<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,900,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,600italic,700italic,900italic' rel='stylesheet' type='text/css'>-->

        <!-- Styles -->

        <link href="../plugins/bootstrap-3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../style.css">

        <!-- Java Script -->
        <script src="../plugins/jquery.min.js"></script>
        <script src="../plugins/bootstrap-3.1/js/bootstrap.min.js"></script>

        <script src="../karel/ace/ace.js" type="text/javascript"></script>
        <!--<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
      </script>-->

        <script src="../karel/js/html/websiteImports.js"></script>
        <script>importCss();</script>
        <script>importJs();</script>

    </head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar-inverse navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CS Bridge Guinee</a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="">
                            <a href="#">Sections</a>
                        </li>

                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li><a onclick="changeToFrench()" style="cursor: pointer;"><img class="languageIcon" src="../img/guinean_flag.png"></img></a></li>
                        <li><a onclick="changeToEnglish()" style="cursor: pointer;"><img class="languageIcon" src="../img/english_flag.png"></img></a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <script>

        function changeToFrench() {
            var url = window.location.href;
            url = url.replace("/en/", "/fr/");
            window.location.href = url;
        }

        function changeToEnglish() {
            var url = window.location.href;
            url = url.replace("/fr/", "/en/");
            window.location.href = url;
        }

    </script>

    <div class="page-header" style="backgroud-color:#cdbfe3">
        <div class="container">
            <div>
                <div id="logo">
                    <img id="logoImg" src="../img/guinea_logo.png" />
                </div>

            </div>
        </div>
    </div>



    <!-- Main Content -->
    <div class="container">

        <div class="section">
            <h2>
                CSBridge Guinee
            </h2>

            <p>The point of this two week course is to teach you the fundamentals of computer programming to the point where you can go and learn on your own. It is taught by a collaboration of instructors from around the world. You will learn to program using material for Stanford's Introduction to Computer Science course. </p>

            <hr/>
        </div>

        <div class="section">
            <h2>
                Sections
            </h2>

            <p>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Date</td><td>Town</td><td>Institution</td>
                        </td>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="../koumbia/19/fr/index.html">Koumbia 2019</a></td><td>Koumbia</td><td>Koumbia</td>
                        </tr>
                        <tr>
                            <td><a href="../fria/19/fr/index.html">Fria November 2019</a></td><td>Fria</td><td>Groupe Scolaire Afrique Unie</td>
                        </tr>
                    </tbody>
                </table>

            <hr/>
        </div>

        <div class="section" id="Curriculum">
            <h2>
                Curriculum
            </h2>
            <img src = "{{pathToRoot}}img/curriculum.jpg" style="width:100%"></img>
            <hr/>
        </div>

    
        <div class="section" id="playWithKarel">
            <h2>
                Play With Karel
            </h2>

            <p>Meet Karel, The Java Robot that Stanford uses to introduce university students to programming. </p>

            <p>Use Karel's commands to get her to move the beeper to the top of the ledge. Normally you will write your programs in an application called Eclipse, but to get you started we made a mini-eclipse for our website:
            </p>

            %include templates/parts/playWithKarel.html
        </div>


        
    </div>  


</body>