<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Agriculture de maïs (Ligne bip)
			</h1>
			<p>
				Écrit par Chris Piech
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Votre objectif est de remplir le premier rang du monde de Karel avec des bips sonores. Vous pouvez supposer que Karel commence dans le coin inférieur gauche, face à l'est. Par exemple, si vous avez exécuté votre programme sur le monde à gauche, le monde devrait être produit à droite.
					<p>
					<center>
						<img style="width:600px"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine1.png">
					</center>
					</p>
					Votre programme devrait également fonctionner pour des mondes de tailles différentes. Par exemple, si nous exécutons le même programme EXACT sur ce monde légèrement plus vaste, Karel devrait toujours pouvoir placer une gamme complète de bips sonores sans se bloquer. Cela signifie que nous ne pouvons pas utiliser une boucle for. Nous ne savons pas d'avance quelle sera la taille du monde!
					<p>
					<center>
						<img style="width:700px"  src="{{pathToRoot}}img/projects/beeperLine/beeperLine2.png">
					</center>
					</p>
				</p>


			</div>

		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:320px">/**
 * Program: Lignebip
 * -------------------
 * Remplissez le premier rang avec des avertisseurs sonores. Suppose que Karel
 * commence dans le coin inférieur gauche de l'écran, face à l'est.
 */
public class BeeperLine extends SuperKarel {

	public void run() {
		while(frontIsClear()) {
			putBeeper();
			move();
		}
		// Cette ligne est nécessaire pour placer le bip final. Le nombre de fois
		// que Karel se déplace est égal à un de moins que le nombre de fois où
		// Karel a placé un avertisseur (si le monde mesure cinq carrés de large,
		// nous plaçons 5 avertisseurs mais ne bougeons que 4 fois.
		putBeeper();
	}
}</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

			</div>
		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
