<head>

  %include templates/parts/headFr.html


</head>
<body>

  <!-- Navigation Bar -->
  %include templates/parts/navBarFr.html

  <!-- Main Content -->
  <div class="container">

    <!-- Header -->
    <div id="pageHeader">
      <h1>
        Attrape-moi si tu peux
      </h1>
      <p>
        Problème de Julia Lee, Kerem Goksel, and Chris Piech
      </p>
      <p>
        Référence:
        <a href ="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a>, <a href ="{{pathToRoot}}fr/handouts/events.html">Events</a>
        <br/>
         Exemples:
         <a href ="{{pathToRoot}}fr/projects/stampTool.html">Stamp Tool</a>
      </p>

    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>
          <ol>
            <li>Ajoutez un carré bleu "sournois" à la toile.</li>
            <li>Ajoutez 20 carrés noirs à la toile.</li>
            <li>Ajoutez un écouteur d'événements de souris qui déplace le carré "sournois" vers une position aléatoire chaque fois que la souris le touche.</li>
          </ol>
        </p>
        <p>
          <center>
            <img style="width:500px" src="{{pathToRoot}}img/projects/catchMeIfYouCan/demo1.png">
          </center>
        </p>
        <p>

          <center>
            Lorsque la souris touche le carré "sournois", elle se déplace
            <img style="width:500px" src="{{pathToRoot}}img/projects/catchMeIfYouCan/demo2.png">
          </center>
        </p>
      </div>
    </div>

    <br/>

    %include templates/parts/footerFr.html

  </div>
</body>
