<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
                cliquez sur N 'stuff
			</h1>
			<p>
                Écrit par Lisa Yan
			</p>
			<p>
				Handouts:
                <a href ="{{pathToRoot}}fr/handouts/graphics.html">Référence graphique</a><br/>
				<a href ="{{pathToRoot}}fr/handouts/events.html">Référence d'événements</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Ceci est un programme de bonus! C'est un peu difficile, mais terminer ce programme vous aidera certainement à écrire votre projet final.
                </p>
                <p>
                Écrivez GraphicsPrograms qui font une animation après que l'utilisateur clique dessus.
                </p>
            <h2>Première partie: Mettre l'alphabet anglais en pause</h2>
            <p>In <code><b>ClickNPause.java</b></code>, écrivez un GraphicsProgram qui fait une boucle dans l’alphabet anglais (de A à Z). Ajoutez également des fonctionnalités de sorte que lorsque l'utilisateur clique quelque part sur l'écran, un libellé "Pause ..." s'affiche à l'endroit où l'utilisateur a cliqué.
					<center>
						<img style="width:300px;border:2px solid grey" src="{{pathToRoot}}img/projects/clickNStuff/character.gif">
			</center>
                </p>
            <p>
            Conditions générales d'Utilisation:
            </p>
            <ul>
                <li>Utilisez un délai de 100 millisecondes ou moins entre chaque caractère alphabétique.</li>
                <li>Ajoutez une pause de 1 seconde après chaque clic de l'utilisateur.</li>
                <li>Commencez par des nombres animés avant l’alphabet pour établir votre boucle d’animation principale.</li>
                <li>Ajouter un <code>pausing...</code> étiquette qui montre où l'utilisateur a cliqué.</li>
            </ul>
            <p>
            <h3>Animer les personnages</h3>
            <p>Puisque nous animons des lettres et non des entiers, nous devrions garder une trace d'un <code>char</code> variable de classe.
            une <code>char</code> est un seul caractère long (donc différent de String, qui peut avoir plusieurs caractères). Pour définir le texte d'un GLabel sur un seul caractère:
            </p>
			<div class="well"><code>
                char c = 'c';<br>
                label.setLabel(c + "");
			</code></div>
            <p>L'avantage d'utiliser un <code>char</code> sur une chaîne est que chaque caractère a une représentation numérique unique, en utilisant quelque chose que nous appelons ASCII. Donc si on convertissait le personnage <code>A</code> en un entier:</p>
			<div class="well"><code>
                System.out.println((int) 'A'); // renvoie 65
			</code></div>
            <p>De même, la représentation numérique de <code>Z</code> is <code>65 + 26 - 1 = 90</code>. La <code>char</code> à <code>int</code> la cartographie est décidée par le <a href ="http://ascii.cl/">ASCII Codes</a>.</p>
            <p>Utilisez cet aperçu pour concevoir une méthode permettant de parcourir les lettres de A à Z, puis de revenir à A de nouveau.

            <h3>Event Flags</h3>
            <p>Ajoutez un écouteur de souris de sorte que, lorsqu'un utilisateur clique, le compteur arrête temporairement d'incrémenter et que le signe "pause ..." s'affiche à l'emplacement sur lequel l'utilisateur a cliqué. Après une seconde, le signe "pause ..." devrait disparaître et le compteur continuer à augmenter.</p>
			<center>
				<img style="width:300px" src="{{pathToRoot}}img/projects/clickNStuff/pauseCharacter.png">
			</center>
            <br>
            <p><b>Il sera difficile de mettre en œuvre tout cela en <code>mouseClicked()</code>!!!</b> Vous ne pouvez pas faire de pause à l'intérieur d'une méthode d'écoute telle que <code>mouseClicked()</code> ou <code>mouseMoved()</code>, parce que ces méthodes sont conçues pour agir rapidement. Au lieu de cela, vous devez utiliser <i>Event Flags</i>.</p>

            <p>une <b>flag</b> est une variable booléenne définie par le programmeur <code>true</code> quand un événement se produit, et est remis à <code>false</code> quand l'événement se termine. En pratique, un programmeur attribue la valeur true aux indicateurs d'événement dans les écouteurs de souris, vérifie s'ils sont vrais dans la boucle d'animation principale, puis effectue une action après avoir constaté que l'indicateur est activé. Voici un exemple de boucle d'animation principale qui vérifie également un indicateur:</p>

            <div class="well"><code><pre>private boolean eventFlag = false;
public void run() {
    while(true) {
        if (eventFlag) {
            doSomethingSpecial();
            eventFlag = false; // réinitialiser le drapeau une fois que vous avez terminé
        }
        doSomethingNormal();
        pause(DELAY);
    }
}

public void mouseMoved(MouseEvent e) {
    eventFlag = true; // allumer le drapeau
}</pre></code></div>
            <p>Avec cette nouvelle connaissance, terminez la première partie.</p>

            <h2>Deuxième partie: Le saut incroyable Karel</h2>
            <p>In <code><b>ClickNJump.java</b></code>, mettre en œuvre un programme où Karel (ci-dessous) se déplace pour toujours. Lorsque l'utilisateur clique dessus, Karel saute haut, atterrit et continue de se déplacer d'un côté à l'autre.
            </p>
			<center>
						<img style="width:300px;border:2px solid grey" src="{{pathToRoot}}img/projects/clickNStuff/karelJump.gif">
            </center>

            <p>
            Conditions générales d'Utilisation:
            </p>
            <ul>
                <li>Sauver le png Karel à la <code>src</code> dossier où se trouvent vos fichiers java. Vous pouvez trouver l'emplacement de votre projet en allant sur Eclipse, en cliquant avec le bouton droit de la souris sur le dossier du projet et en sélectionnant "Propriétés".</li>
                <li>Actualisez le dossier dans Eclipse jusqu'à ce que <code>karel.png</code> visible dans l'explorateur de projet.</li>
                <li>Karel devrait se déplacer en douceur, donc environ une fois toutes les 50 millisecondes (ou même plus fréquemment).</li>
            </ul>
            <p>Lignes directrices pour le saut d'obstacles:</p>
            <ul>
                <li>Le saut total devrait durer deux secondes.</li>
                <li>Pendant que Karel saute, elle ne devrait pas pouvoir recommencer le saut.</li>
                <li>Commencez par faire sauter Karel verticalement de haut en bas, à vitesse constante.</li>
                <li>Ensuite, pensez à ajouter en gravité. Quelle devrait être votre vitesse de départ?</li>
                <li>Enfin, ajoutez un mouvement horizontal pendant que Karel saute.</li>
            </ul>

            <p>Voici quelques images de Karel pour vous aider.</p>
			<center>
						<img style="width:80px" src="{{pathToRoot}}img/projects/clickNStuff/karel.png">
						<img style="width:80px" src="{{pathToRoot}}img/projects/clickNStuff/karelFlipped.png">
            </center>

            <h2>Troisième partie: l'incroyable Karel</h2>
            <p>Modifiez votre programme Karel pour faire des choses folles!</p>

			</div>

		</div>


		%include templates/parts/footerFr.html

	</div>
</body>
