<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Aller au centre
			</h1>
			<p>
				Problème écrit par Chris et Julia.
			</p>

		</div>
		<hr/>

		

		<div class="row">
			<div class="col-md-12">
				<p>
				Ce programme anime un carré qui se déplace jusqu’au centre de l’écran. Cela commence du côté gauche.
			</p>
			<p>
				<center>
						<img style="width:500px" src="{{pathToRoot}}img/projects/goCenter/demo.png">	
					</center>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:400px">public class GoCenter extends GraphicsProgram {

    private static final int SIZE = 20;
    private static final int DELAY = 100;
	
	public void run() {
		// Dessinez un carré à gauche de l'écran.
		GRect rect = new GRect(SIZE, SIZE);
		double x = 0;
		double y = (getHeight() - rect.getHeight()) / 2;
		rect.setFilled(true);
		add(rect, x, y);
		
		// Déplacer jusqu'au centre
		// rect.getX() renvoie la coordonnée x du rectangle
		double maxX = (getWidth() - rect.getWidth()) /2;
		while(rect.getX() < maxX) {
		    // déplacer un pixel à droite
			rect.move(1, 0);
			// pause d'animation
			pause(DELAY);
		}
	}
}</pre>
    
<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.setShowPrintMargin(false);
   editor.renderer.setShowGutter(false); 
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>
	</div>
	</div>
		
		%include templates/parts/footerFr.html

	</div>
</body>
