<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Inverser (avec solution)
			</h1>
			<p>
				Problème écrit par Eric Roberts
			</p>

			<p>
			Documents à distribuer:
				<a href ="{{pathToRoot}}fr/handouts/karel.html">KarelReference</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Pour un monde de n'importe quelle taille, avec n'importe quelle configuration de bips (aucun carré n'aura plus d'un), inversez tous les bips de sorte que, là où il y avait un bip auparavant, il n'y en avait pas ... et où il n'y en avait pas auparavant, il y a un bipeur. Prenons l'exemple suivant.
				</p>

				<p>
					<center>
						<img style="width:600px" src="{{pathToRoot}}img/projects/invert/invert.png">
					</center>
				</p>

			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:1010px">/**
 *  Programme: Inverser
 * ---------------
 * Inverser tous les beepers de sorte que là où il y avait un bip auparavant
 * il n'y a pas de beeper ... et là où il n'y en avait pas auparavant, il y a un
 * beeper.
 * /
public class InvertBeepers extends SuperKarel {

	public void run() {
		invertRow();
		returnToWest();
		while(leftIsClear()) {
			turnLeft();
			move();
			turnRight();
			invertRow();
			returnToWest();
		}
	}

	/**
	 * Méthode: Inverser la ligne
	 * ------------------
	 * Inverser une seule ligne. Au début, Karel devrait faire face à l'est de
	 * le côté ouest de la rangée. Après Karel devrait être face à l'est de la
	 * Le côté est de la même rangée et tous les avertisseurs de la rangée seront inversés.
	 */
	private void invertRow() {
		while(frontIsClear()) {
			invertBeeper();
			move();
		}
		invertBeeper();
	}

	/**
	 * Méthode: inverser le bip
	 * --------------------
	 * Inverse la configuration du bipeur sur un carré. S'il y avait auparavant
	 * un bip, il est ramassé. S'il n'y avait pas de bip auparavant, un bipeur
	 * est placé.
	 */
	private void invertBeeper() {
		if(beepersPresent()) {
			pickBeeper();
		} else {
			putBeeper();
		}
	}

	/**
	 * Méthode: Retour vers l'ouest
	 * ----------------------
	 * Retourne-toi et retourne au mur d'où tu viens!
	 */
	private void returnToWest() {
		turnAround();
		while(frontIsClear()) {
			move();
		}
		turnAround();
	}
}</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		%include templates/parts/footerFr.html

	</div>
</body>
