<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Construire La Grande Mosquée de Conakry
			</h1>
			<p>
				Basé sur un référence de Eric Roberts
			</p>
			<p>
				Référence:
				<a href ="{{pathToRoot}}fr/handouts/karel.html">Karel Référence</a>
				<br/>
				Exemple travaillé:
				<a href="{{pathToRoot}}fr/projects/place100.html">Lavez 100 pièce des habilles (Place 100) </a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Karel a été embauché pour construire les piliers de la Grande Mosquée de Conakry avecs les bips. Comme suit:
				</p>
				<p>
					<center>
						<img style="width:600px" src="{{pathToRoot}}img/projects/efes/efesBroken.png">
					</center>
				</p>
				<p>
					<left>
						<img style="width:425px" src="{{pathToRoot}}img/projects/efes/efesRepaired.png">
					</left>
					<right>
						<img style="width:400px" src="{{pathToRoot}}img/projects/efes/mosque.png">
					</right>
				</p>
				<p>
					Karel peut compter sur les faits suivants concernant le monde, énumérés ci-dessous:
				<ul>
					<li>Karel commence à le 1er pilier et à la 1ère distance, face à l'est.
					<li>Les piliers sont séparées de quatre distances exactement, sur les 1er, 5ème, 9ème et 13ème distances.
					<li>Karel peut supposer que les piliers ont toujours une hauteur de cinq bips.
				</ul>
				</p>
				<p>
					Bien que le programme ne compte que quelques lignes, il est utile de s’entraîner un peu à la décomposition. Par exemple, il serait logique d’avoir un <code>construireLePilier</code> méthode.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>For Loops</h2>
				<p>Une chose pour laquelle les ordinateurs sont vraiment bons est la répétition de commandes.</p>

				<p>
					En général, si vous savez d'avance qu'il y a un bloc de code que vous souhaitez répéter plusieurs fois, vous pouvez utiliser une loop "for", qui ressemble à ceci:

					<div class="well">
						<code>
							for(int i = 0; i &lt; <i>N</i>; i++) {
								<br/>&nbsp;&nbsp;&nbsp;<i>votre code</i>
							<br/>}
						</code>
					</div>
					Au lieu de <i>N</i> vous devriez écrire le nombre de fois où vous voulez que votre code soit répété.
				</p>

				<p>
					Par exemple, si vous souhaitez avancer dix fois, au lieu d’écrire le move(); commande dix fois tu pourrais écrire
					<div class="well">
						<code>
							for(int i = 0; i &lt; 10; i++) {
								<br/>&nbsp;&nbsp;&nbsp;move();
							<br/>}
						</code>
					</div>
					Voir le <a href="{{pathToRoot}}fr/projects/place100.html">Lavez 100 pièce des habilles (Place 100) </a> programme pour un autre exemple.
				</p>
				<p>Votre programme sera beaucoup plus facile à écrire et à lire si vous utilisez des for loops. Il existe de nombreuses possibilités d'utilisation de boucles pour ce problème!
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p>Bonne chance et posez des questions!</p>
			</div>
		</div>

		%include templates/parts/footerFr.html

	</div>
</body>
