<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Placez 100 (avec la solution)
			</h1>
			<p>
				Problème écrit par Chris
			</p>
			<p>
				Documents à distribuer:
				<a href ="{{pathToRoot}}fr/handouts/karel.html">KarelReference</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Votre objectif est que Karel crée une pile de 100 bips sonores sur la case devant laquelle elle commence. S'il vous plaît!!! Ne tapez pas putBeeper 100 fois de suite! (indice: utilisez une boucle for.)
				</p>

				<p>
					<center>
						<img style="width:700px" src="{{pathToRoot}}img/projects/place100/place100.png">
					</center>
				</p>

			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:280px">/**
 * Programme: Place100
 * -------------
 * Ce programme permet à Karel de placer une pile de 100 signaux sonores. Bon temps.
 */
public class Place100 extends SuperKarel {

	public void run() {
		move();
		// Cette boucle for répétera le code 100 fois.
		for(int i = 0; i &lt; 100; i++) {
			putBeeper();
		}
		move();
	}
}</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		%include templates/parts/footerFr.html

	</div>
</body>
