<head>

	%include templates/parts/headFr.html


</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBarFr.html

	<!-- Main Content -->
	<div class="container">

		<!-- Header -->
		<div id="pageHeader">
			<h1>
				Lavez 100 Pièce des Habilles (Place 100)
			</h1>
			<p>
				Problème écrit par Chris. Adapter par Lisa E. 
			</p>
			<p>
				Documents à distribuer:
				<a href ="{{pathToRoot}}fr/handouts/karel.html">KarelReference</a>
			</p>

		</div>
		<hr/>

		<div class="row">
			<div class="col-md-12">
				<p>
					Votre objectif est de commisioner Karel à laver 100 pièce des habilles (signifier par les bips). S'il vous plaît!!! Ne tapez pas putBeeper() 100 fois de suite! (indice: utilisez une for loop.)
				</p>

				<p>
					<left>
						<img style="width:200px" src="{{pathToRoot}}img/projects/place100/WashingClothes.png">
					</left>
					<right>
						<img style="width:500px" src="{{pathToRoot}}img/projects/place100/place100.png">
					</right>
				</p>

			</div>

		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Solution</h2>


<pre id="editor" style="height:280px">/**
 * Programme: Lavez 100 Pièce des Habilles (Place100)
 * -------------
 * Ce programme permet à Karel de lavez une pile de 100 pièce des habilles.
 */

public class Place100 extends SuperKarel {

	public void run() {
		move();
		// Cette for loop répétera le code 100 fois.
		for(int i = 0; i &lt; 100; i++) {
			putBeeper();
		}
		move();
	}
}</pre>

<script src="{{pathToRoot}}plugins/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
   editor.setTheme('ace/theme/eclipse');
   editor.getSession().setMode("ace/mode/java");
   editor.setReadOnly(true);
   editor.renderer.setShowGutter(false);
    /*editor.setTheme("ace/theme/eclipse");
    editor.getSession().setMode("ace/mode/java");*/
</script>

		%include templates/parts/footerFr.html

	</div>
</body>
