    <!-- Bonus Program Table-->
<table class="table table-hover">
				<thead>
					<tr>
						<!--<th style="width: 80px;">Date</th>-->
						<th></th>
						<!--<th>Reading</th>-->
						<th>Prénom</th>
						<th>Difficulté</th>
						<th>Code de démarrage</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<th colspan = "6"><b>
						<br/>
						[Karel]</b></th>
					</tr>


					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/checkerboard.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/checkerBoard.html">l' échiquier</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
                        <td><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/squarePainter.png"></img></a></td>
						<td><a href="{{pathToRoot}}fr/projects/squarePainter.html">Peintre Carré</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
                        <td><img style="height:auto;maxwidth:150px" class="projectImg" src="{{pathToRoot}}img/icons/midpoint.png"></img></a></td>
						<td><a href="{{pathToRoot}}fr/projects/midpointKarel.html">Point milieu</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusKarel.zip">BonusKarel.zip</a> </td>
					</tr>





					<tr>
						<th colspan = "6"><b>
						<br>
						[Variables]</b></th>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/console.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/consoleBonus.html">Console Bonus</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="height:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/loopingfun.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/loopingFun.html">Boucle d'amusement</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/hailstone.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/hailstone.html">Grêle</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/carbonDating.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/carbonDating.html">Datation au carbone</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusConsole.zip">BonusConsole.zip</a></td>





					<tr>
						<th colspan = "6"><b>
						<br>
						[Graphique]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/bouncingMultiple.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/multipleBalls.html">Plusieurs balles</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/creativeGraphics.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/creativeGraphics.html">Graphiques créatifs</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td ><img style="width:auto;max-height:100px" class="projectImg" src="{{pathToRoot}}img/icons/creativeStringArt.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/creativeStringArt.html">Art créatif de la chaîne</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusGraphics.zip">BonusGraphics.zip</a></td>
					</tr>






					<tr>
						<th colspan = "6"><b>
						<br>
						[Java avancé]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/moreMethods.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/moreMethods.html">Plus de méthodes</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/countdown.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/countdown.html">Compte à rebours</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/numberGrid.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/numberGrid.html">Nombre grille</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/MoreMethods.zip">BonusMethods.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/borderBox.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/borderBox.html">Boîte frontière</a></td>
						<td>&#9733;&#9733;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusMethods.zip">BonusMethods.zip</a></td>
					</tr>






					<tr>
						<th colspan = "6"><b>
						<br>
						[Events]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px" class="projectImg" src="{{pathToRoot}}img/icons/duplicateShape.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/duplicatingShapes.html">Des formes de duplication</a></td>
						<td>&#9733;&#9734;&#9734;</td>
						<td><a href="{{pathToRoot}}starter/BonusEvents.zip">BonusEvents.zip</a></td>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img style="width:auto;max-height:100px;max-width:150px;border:1px solid grey" class="projectImg" src="{{pathToRoot}}img/icons/clickNStuff.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/clickNStuff.html">En cliquant sur des choses</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusEvents.zip">BonusEvents.zip</a></td>
					</tr>






					<tr>
						<th colspan = "6"><b>
						<br>
						[ArrayLists]</b></th>
					</tr>
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/borderSnake.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/borderSnake.html">Serpent frontière</a></td>
						<td>&#9733;&#9733;&#9733;</td>
						<td><a href="{{pathToRoot}}starter/BonusArrays.zip">BonusArrays.zip</a></td>
					</tr>


				</tbody>
			</table>
			<hr/>
        <!-- End bonus program table-->
