<table class="table table-hover">
				<thead>
					<tr>
						<!--<th style="width: 80px;">Date</th>-->
						<th></th>
						<!--<th>Reading</th>-->
						<th>Name</th>
						<th>Topic</th>
						<th>Starter Code</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th colspan = "6"><b>
						<br/>
						[Karel]</b></th>
					</tr>


					<tr class="table-bordered table-striped">
						<td><a href="{{pathToRoot}}en/projects/collectNewspaper.html"><img class="projectImg" src="{{pathToRoot}}img/icons/newspaper.jpg"></img></a></td>
						<td><a href="{{pathToRoot}}en/projects/collectNewspaper.html">Collecter le journal</a></td>
						<td>Methods</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/efes.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/efes.html">Construire Efes</a></td>
						<td>For Loops</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mountain.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/mountain.html">Montagne Karel</a></td>
						<td>While Loops</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/randomPainter2.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/randomPainter.html">Peintre au hasard</a></td>
						<td>If Statements</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					


					<tr>
						<th colspan = "6"><b>
						<br>
						[Variables]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/sandcastle.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/sandcastles.html">Châteaux de sable</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/guess.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/favoriteNumber.html">Numéro préféré</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/medicine.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/medicine.html">Contrefaçon de médicaments</a></td>
						<td>Concatenation</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/someSum.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/someSum.html">C'est une somme</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/nim.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/gameOfStones.html">Jeu de Nimm</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>





					<tr>
						<th colspan = "6"><b>
						<br>
						[Graphics]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/awesome.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/awesome.html">La programmation est géniale</a></td>
						<td>Graphics</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mysterySquare.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/mysterySquare.html">Place du mystère</a></td>
						<td>Randomness</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/stringArt.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/stringArt.html">Art de la chaîne</a></td>
						<td>For Loops</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/randomCircles.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/randomCircles.html">Cercles aléatoires</a></td>
						<td>Randomness</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/bouncing.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/bouncingBall.html">Balle rebondissante</a></td>
						<td>Animation</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>



					<tr>
						<th colspan = "6"><b>
						<br>
						[Advanced Java]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/madMax.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/madMethods.html">Mad Methods</a></td>
						<td>Params and Returns</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/target.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/target.html">Cible</a></td>
						<td>Parameters</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/illusion.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/illusion.html">Illusion d'optique</a></td>
						<td>For Loops</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/sunset.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/sunset.html">Court métrage</a></td>
						<td>Params and Returns</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>


					<tr>
						<th colspan = "6"><b>
						<br>
						[Events]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/makingTracks.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/makingTracks.html">Faire des pistes</a></td>
						<td>Events</td>
						<td><a href="{{pathToRoot}}starter/Day5.zip">Day5.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/catchMeIfYouCan.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/catchMeIfYouCan.html">Attrape-moi si tu peux</a></td>
						<td>Instance Variables</td>
						<td><a href="{{pathToRoot}}starter/Day5.zip">Day5.zip</a></td>
					</tr>


					<tr>
						<th colspan = "6"><b>
						<br>
						[Breakout]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/breakout.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/breakout.html">Breakout!</a></td>
						<td>Interactors</td>
						<td><a href="{{pathToRoot}}starter/Breakout.zip">Breakout.zip</a></td>
					</tr>


					

					<tr>
						<th colspan = "6"><b>
						<br>
						[ArrayLists]</b></th>
					</tr>

					

					

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/numbers.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/sortedNumbers.html">Numéros triés</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/snow.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/snow.html">Neige</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mouseGame.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/mouseGame.html">[Optional] The Line</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/music3.jpg"></img></td>
						<td><a href="{{pathToRoot}}en/projects/music.html">[Optional] Vagues de son</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a> </td>
					</tr>


					

					

					

					
					<tr>
						<th colspan = "6"><b>
						<br>
						[Final Project]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/project.png"></img></td>
						<td><a href="{{pathToRoot}}en/projects/project.html">Faire votre propre</a></td>
						<td>All</td>
						<td><a href="{{pathToRoot}}starter/FinalProject.zip">FinalProject.zip</a></td>
					</tr>
					

					

					
					<tr>
						<th colspan = "6"><b>
						<br>
						[Extra Examples]</b></th>
					</tr>


					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/extraExamples.png"></img></td>
						<td>Exemples supplémentaires</td>
						<td>All</td>
						<td><a href="{{pathToRoot}}starter/ExtraProjects.zip">ExtraProjects.zip</a></td>
					</tr>
					
					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/racingCars.jpg"></img></td>
						<td>Array Exercises!</td>
						<td>Arrays</td>
						<td><a href="{{pathToRoot}}starter/Day6.zip">Day6.zip</a></td>
					</tr>
					
					


				</tbody>
			</table>
