<table class="table table-hover">
				<thead>
					<tr>
						<!--<th style="width: 80px;">Date</th>-->
						<th></th>
						<!--<th>Reading</th>-->
						<th>Prénom</th>
						<th>Sujet</th>
						<th>Code de démarrage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th colspan = "6"><b>
						<br/>
						[Karel]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><a href="{{pathToRoot}}fr/projects/WaterFromWell.html"><img class="projectImg" src="{{pathToRoot}}img/projects/newspaper/WaterWell.png">
						</img></a></td>
						<td><a href="{{pathToRoot}}fr/projects/WaterFromWell.html">Puiser de l'Eau</a></td>
						<td>Les méthodes</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mosque.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/mosquée.html">Construire La Grande Mosquée de Conakry</a></td>
						<td>For Loops</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mountain.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/mountain.html">Montagne Karel</a></td>
						<td>While Loops</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/karelGuineanFlagAfter.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/flag.html">Le Drapeau Guinean</a></td>
						<td>For Loops, While Loops</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/randomPainter2.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/randomPainter.html">Peintre au hasard</a></td>
						<td>If Déclarations</td>
						<td><a href="{{pathToRoot}}starter/Day1.zip">Day1.zip</a> </td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Variables]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/sandcastle.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/sandcastles.html">Châteaux de sable</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/guess.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/favoriteNumber.html">Numéro préféré</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/medicine.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/medicine.html">Contrefaçon de médicaments</a></td>
						<td>Concatenation</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/someSum.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/someSum.html">C'est une somme</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/market2.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/AllerAuMarché.html">Aller Au Marché</a></td>
						<td>Variables</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/sorcerer.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/sorcerer.html">La Sorcière</a></td>
						<td>Nombres Aléatoires, Opérateurs</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day2.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Graphique]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/awesome.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/awesome.html">La programmation est géniale</a></td>
						<td>Graphique</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mysterySquare.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/mysterySquare.html">Place du mystère</a></td>
						<td>Le hasard</td>
						<td><a href="{{pathToRoot}}starter/Day2.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/stringArt.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/stringArt.html">Art de la chaîne</a></td>
						<td>For Loops</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/randomCircles.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/randomCircles.html">Cercles aléatoires</a></td>
						<td>Le hasard</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/bouncing.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/bouncingBall.html">Balle rebondissante</a></td>
						<td>Animation</td>
						<td><a href="{{pathToRoot}}starter/Day3.zip">Day3.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Java Avancé]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/madMax.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/madMethods.html">Méthodes folles</a></td>
						<td>Params et Returns</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/target.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/target.html">Cible</a></td>
						<td>Paramètres</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/illusion.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/illusion.html">Illusion d'optique</a></td>
						<td>For Boucles</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/sunset.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/sunset.html">Court métrage</a></td>
						<td>Params et Returns</td>
						<td><a href="{{pathToRoot}}starter/Day4.zip">Day4.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Événements]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/makingTracks.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/makingTracks.html">Faire des pistes</a></td>
						<td>Événements</td>
						<td><a href="{{pathToRoot}}starter/Day5.zip">Day5.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/catchMeIfYouCan.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/catchMeIfYouCan.html">Attrape-moi si tu peux</a></td>
						<td>Circonstance Variables</td>
						<td><a href="{{pathToRoot}}starter/Day5.zip">Day5.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Éclater]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/breakout.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/breakout.html">Éclater!</a></td>
						<td>Interacteurs</td>
						<td><a href="{{pathToRoot}}starter/Breakout.zip">Breakout.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[ArrayLists]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/numbers.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/sortedNumbers.html">Numéros triés</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/snow.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/snow.html">Neige</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/mouseGame.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/mouseGame.html">[Optionnelle] La ligne</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a> </td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/music3.jpg"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/music.html">[Optionnelle] Vagues de son</a></td>
						<td>ArrayLists</td>
						<td><a href="{{pathToRoot}}starter/Day7.zip">Day7.zip</a> </td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Projet final]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/project.png"></img></td>
						<td><a href="{{pathToRoot}}fr/projects/project.html">Faire votre propre</a></td>
						<td>Toute</td>
						<td><a href="{{pathToRoot}}starter/FinalProject.zip">FinalProject.zip</a></td>
					</tr>

					<tr>
						<th colspan = "6"><b>
						<br>
						[Exemples supplémentaires]</b></th>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/extraExamples.png"></img></td>
						<td>Exemples supplémentaires</td>
						<td>All</td>
						<td><a href="{{pathToRoot}}starter/ExtraProjects.zip">ExtraProjects.zip</a></td>
					</tr>

					<tr class="table-bordered table-striped">
						<td><img class="projectImg" src="{{pathToRoot}}img/icons/racingCars.jpg"></img></td>
						<td>Exercices sur les tableaux!</td>
						<td>Tableaux</td>
						<td><a href="{{pathToRoot}}starter/Day6.zip">Day6.zip</a></td>
					</tr>

				</tbody>
			</table>
